/*
Green: #6FB353;
Offwhite: #F9F9FA;

*/
/**{ border: 1px solid red; }*/

/*cstlib*/
html,body
{
    /*width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;*/
    overflow-x: hidden;
    
}

body
{
    padding:0px;
    margin: 0px;
    background-color: white;
}

.container-fluid
{
    padding:0px;
   /*background-color: black;*/
    /*overflow-y: hidden;*/
    
   
    margin: 0px;
    
}

#footer
{
    background-color: #112740;
    min-height:300px;
    height:auto;
}
#footerDisclaimer
{
    font-size:13px;
    color:white;
    padding-top:50px;
    /*font-family:'Open Sans', sans-serif;*/
    font-family:14px/22px "Titillium Web";
    font-weight:100;
    width: 90%;
    margin-left: 5%;
    /*letter-spacing: 1px;*/
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
}
#header
{
    margin-top: 0px;
    height:100vh;
    width:auto;
    color: white;
    text-align: center;
}

.headerText
{
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    padding-left: 20%;
    width:auto;
    padding-right: 20%;
    text-align: center;
    font-size: 58px;
    letter-spacing: -.9px;
    line-height: 50px;
    font-weight: bold;
}



p 
{
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-align:left;
    text-transform: lowercase;
    font-size: 14pt;
    font-variant: small-caps;
}


.pic
{
    margin-top: 0px;
    height:100vh;
    width:auto;
    color: white;
    text-align: center;
}

q 
{
  quotes: "“" "”" "‘" "’";
}

q:before 
{
    content: open-quote;
    font-size: 20px;
    font-weight: bold;
    color:#6FB353;
}

q:after 
{
    content: close-quote;
    font-size: 20px;
    font-weight: bold;
    color:#6FB353;
}

.shadow
{
    height:150px;
    width: 100%;
    opacity:.03;
    background-image:linear-gradient(to bottom, transparent 80%, #000000 100%);
}
.text
{
    
    width:70%;
    margin-left: 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.whiteSpace
{
    height:400px;
    background-color: white;

}



/*========================Mobile Response========================*/




@media only screen and (max-width: 768px) {
   }

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
   
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    }


































.separator-container {
  text-align: center;
  position: relative;
}
.separator-container .separator {
  color: #6FB353;
  margin: 0 auto 1em;
  width: 11em;
}
.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #6FB353;
}
.separator-container .separator.line-separator:before {
  float: left;
}
.separator-container .separator.line-separator:after {
  float: right;
}




#navMain
{
    margin-bottom: 0px;
}
#navMain.navbar-default .navbar-brand {
    color: white;
}
#navMain.navbar-default {
    font-size: 14px;
    background-color: white;
    border-bottom-width: 0px;
}
#navMain.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: white; /* rgb(20, 72, 115);*/
}
#navMain.navbar-default .navbar-nav>li>a:hover,
#navMain.navbar-default .navbar-nav>li>a:focus {
   
    color: white;
    background-color: #6FB353;
}
#navMain.navbar-default .navbar-nav>.active>a,
#navMain.navbar-default .navbar-nav>.active>a:hover,
#navMain.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: #6FB353;
}
#navMain.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#navMain.navbar-default .navbar-toggle:hover,
#navMain.navbar-default .navbar-toggle:focus {
    background-color: white;
}
#navMain.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
#navMain.navbar-default .navbar-toggle:hover .icon-bar,
#navMain.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #6FB353;
}





